CarritoConsumidor/CarritoConsumidor/Service References/ServicioCliente/ClientesControllerService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://co.edu.eam.ingsoft.distribuidos" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" name="ClientesControllerService" targetNamespace="http://co.edu.eam.ingsoft.distribuidos" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xs:schema elementFormDefault="unqualified" targetNamespace="http://co.edu.eam.ingsoft.distribuidos" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:element name="operacionCrear" type="tns:operacionCrear" />
      <xs:element name="operacionCrearResponse" type="tns:operacionCrearResponse" />
      <xs:complexType name="operacionCrear">
        <xs:sequence>
          <xs:element minOccurs="0" name="client" type="tns:cliente" />
          <xs:element minOccurs="0" name="contrasenia" type="xs:string" />
          <xs:element minOccurs="0" name="usuario" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="cliente">
        <xs:sequence>
          <xs:element minOccurs="0" name="apellido" type="xs:string" />
          <xs:element minOccurs="0" name="cedula" type="xs:string" />
          <xs:element minOccurs="0" name="correo" type="xs:string" />
          <xs:element minOccurs="0" name="id" type="xs:int" />
          <xs:element minOccurs="0" name="nombre" type="xs:string" />
          <xs:element minOccurs="0" name="telefono" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="operacionCrearResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
  </wsdl:types>
  <wsdl:message name="operacionCrear">
    <wsdl:part name="parameters" element="tns:operacionCrear" />
  </wsdl:message>
  <wsdl:message name="operacionCrearResponse">
    <wsdl:part name="parameters" element="tns:operacionCrearResponse" />
  </wsdl:message>
  <wsdl:portType name="ClientesController">
    <wsdl:operation name="operacionCrear">
      <wsdl:input name="operacionCrear" message="tns:operacionCrear" />
      <wsdl:output name="operacionCrearResponse" message="tns:operacionCrearResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ClientesControllerServiceSoapBinding" type="tns:ClientesController">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="operacionCrear">
      <soap:operation soapAction="crearElCliente" style="document" />
      <wsdl:input name="operacionCrear">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="operacionCrearResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ClientesControllerService">
    <wsdl:port name="CliCtlPort" binding="tns:ClientesControllerServiceSoapBinding">
      <soap:address location="http://DESKTOP-VIRQCT0:8089/servicio_web_master/ClientesController" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>