CarritoConsumidor/CarritoConsumidor/Service References/ServicioCliente/cliente.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://co.edu.eam.ingsoft.distribuidos" targetNamespace="http://co.edu.eam.ingsoft.distribuidos" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="operacionCrearCliente" type="tns:operacionCrearCliente" />
  <xs:element name="operacionCrearClienteResponse" type="tns:operacionCrearClienteResponse" />
  <xs:complexType name="operacionCrearCliente">
    <xs:sequence>
      <xs:element minOccurs="0" name="cedula" type="xs:string" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
      <xs:element minOccurs="0" name="apellido" type="xs:string" />
      <xs:element minOccurs="0" name="correo" type="xs:string" />
      <xs:element minOccurs="0" name="telefono" type="xs:string" />
      <xs:element minOccurs="0" name="usuario" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="operacionCrearClienteResponse">
    <xs:sequence />
  </xs:complexType>
</xs:schema>