CarritoConsumidor/CarritoConsumidor/Service References/ServiceLogin/LoginControllerService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://co.edu.eam.ingsoft.distribuidos" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" name="LoginControllerService" targetNamespace="http://co.edu.eam.ingsoft.distribuidos" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xs:schema elementFormDefault="unqualified" targetNamespace="http://co.edu.eam.ingsoft.distribuidos" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:element name="operacionLogin" type="tns:operacionLogin" />
      <xs:element name="operacionLoginResponse" type="tns:operacionLoginResponse" />
      <xs:complexType name="operacionLogin">
        <xs:sequence>
          <xs:element minOccurs="0" name="nombre_usuario" type="xs:string" />
          <xs:element minOccurs="0" name="contrasenia" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="operacionLoginResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="tns:usuario" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="usuario">
        <xs:sequence>
          <xs:element minOccurs="0" name="cliente" type="tns:cliente" />
          <xs:element minOccurs="0" name="id" type="xs:int" />
          <xs:element minOccurs="0" name="nombreUsuario" type="xs:string" />
          <xs:element minOccurs="0" name="password" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="cliente">
        <xs:sequence>
          <xs:element minOccurs="0" name="apellido" type="xs:string" />
          <xs:element minOccurs="0" name="cedula" type="xs:string" />
          <xs:element minOccurs="0" name="correo" type="xs:string" />
          <xs:element minOccurs="0" name="id" type="xs:int" />
          <xs:element minOccurs="0" name="nombre" type="xs:string" />
          <xs:element minOccurs="0" name="telefono" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
  </wsdl:types>
  <wsdl:message name="operacionLoginResponse">
    <wsdl:part name="parameters" element="tns:operacionLoginResponse" />
  </wsdl:message>
  <wsdl:message name="operacionLogin">
    <wsdl:part name="parameters" element="tns:operacionLogin" />
  </wsdl:message>
  <wsdl:portType name="LoginController">
    <wsdl:operation name="operacionLogin">
      <wsdl:input name="operacionLogin" message="tns:operacionLogin" />
      <wsdl:output name="operacionLoginResponse" message="tns:operacionLoginResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="LoginControllerServiceSoapBinding" type="tns:LoginController">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="operacionLogin">
      <soap:operation soapAction="login" style="document" />
      <wsdl:input name="operacionLogin">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="operacionLoginResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="LoginControllerService">
    <wsdl:port name="LogCtlPort" binding="tns:LoginControllerServiceSoapBinding">
      <soap:address location="http://localhost:8080/servicio_web_master/LoginController" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>