CarritoConsumidor/CarritoConsumidor/Service References/ServiceFactura/FacturaControllerService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://controller.eam.edu.co/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" name="FacturaControllerService" targetNamespace="http://controller.eam.edu.co/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xs:schema elementFormDefault="unqualified" targetNamespace="http://controller.eam.edu.co/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:element name="crearCompra" type="tns:crearCompra" />
      <xs:element name="crearCompraResponse" type="tns:crearCompraResponse" />
      <xs:element name="eliminarCarrito" type="tns:eliminarCarrito" />
      <xs:element name="eliminarCarritoResponse" type="tns:eliminarCarritoResponse" />
      <xs:element name="validarItems" type="tns:validarItems" />
      <xs:element name="validarItemsResponse" type="tns:validarItemsResponse" />
      <xs:complexType name="validarItems">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="arg0" type="tns:itemsDTO" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="itemsDTO">
        <xs:sequence>
          <xs:element minOccurs="0" name="cantidad" type="xs:int" />
          <xs:element minOccurs="0" name="id" type="xs:int" />
          <xs:element minOccurs="0" name="valorTotal" type="xs:double" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="validarItemsResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="tns:producto" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="producto">
        <xs:sequence>
          <xs:element minOccurs="0" name="cantidad" type="xs:int" />
          <xs:element minOccurs="0" name="id" type="xs:int" />
          <xs:element minOccurs="0" name="nombre" type="xs:string" />
          <xs:element minOccurs="0" name="valor" type="xs:decimal" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="crearCompra">
        <xs:sequence>
          <xs:element minOccurs="0" name="id_usuario" type="xs:int" />
          <xs:element minOccurs="0" name="total_factura" type="xs:double" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="detalles_factura" type="tns:itemsDTO" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="crearCompraResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="eliminarCarrito">
        <xs:sequence>
          <xs:element minOccurs="0" name="arg0" type="xs:int" />
          <xs:element minOccurs="0" name="arg1" type="xs:int" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="eliminarCarritoResponse">
        <xs:sequence />
      </xs:complexType>
    </xs:schema>
  </wsdl:types>
  <wsdl:message name="validarItems">
    <wsdl:part name="parameters" element="tns:validarItems" />
  </wsdl:message>
  <wsdl:message name="validarItemsResponse">
    <wsdl:part name="parameters" element="tns:validarItemsResponse" />
  </wsdl:message>
  <wsdl:message name="crearCompraResponse">
    <wsdl:part name="parameters" element="tns:crearCompraResponse" />
  </wsdl:message>
  <wsdl:message name="eliminarCarritoResponse">
    <wsdl:part name="parameters" element="tns:eliminarCarritoResponse" />
  </wsdl:message>
  <wsdl:message name="crearCompra">
    <wsdl:part name="parameters" element="tns:crearCompra" />
  </wsdl:message>
  <wsdl:message name="eliminarCarrito">
    <wsdl:part name="parameters" element="tns:eliminarCarrito" />
  </wsdl:message>
  <wsdl:portType name="FacturaController">
    <wsdl:operation name="validarItems">
      <wsdl:input name="validarItems" message="tns:validarItems" />
      <wsdl:output name="validarItemsResponse" message="tns:validarItemsResponse" />
    </wsdl:operation>
    <wsdl:operation name="crearCompra">
      <wsdl:input name="crearCompra" message="tns:crearCompra" />
      <wsdl:output name="crearCompraResponse" message="tns:crearCompraResponse" />
    </wsdl:operation>
    <wsdl:operation name="eliminarCarrito">
      <wsdl:input name="eliminarCarrito" message="tns:eliminarCarrito" />
      <wsdl:output name="eliminarCarritoResponse" message="tns:eliminarCarritoResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="FacturaControllerServiceSoapBinding" type="tns:FacturaController">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="validarItems">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="validarItems">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="validarItemsResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="crearCompra">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="crearCompra">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="crearCompraResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="eliminarCarrito">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="eliminarCarrito">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="eliminarCarritoResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="FacturaControllerService">
    <wsdl:port name="FacturaControllerPort" binding="tns:FacturaControllerServiceSoapBinding">
      <soap:address location="http://localhost:8080/servicio_web_master/FacturaController" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>